<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.huanxun.dao.LoginUserMapper">
    <resultMap id="loginUserMap" type="LoginUser">
        <id property="loginUserID" column="loginUserID"/>
        <association property="userRole" resultMap="userRoleMap"/>
    </resultMap>
    <resultMap id="userRoleMap" type="UserRole">
        <id property="userRoleID" column="userRoleID"/>
    </resultMap>
    <select id="login" parameterType="LoginUser" resultMap="loginUserMap">
        SELECT ls.*, ur.*
        from loginuser ls, userrole ur
        WHERE ur.userRoleID = ls.userRoleID
        and ls.loginName=#{loginName}
        and ls.loginPassword=#{loginPassword}
        and ls.visible=1
    </select>
    <insert id="addLoginUser" parameterType="LoginUser"
            keyProperty="loginUserID" useGeneratedKeys="true">
        INSERT INTO `loginuser`
        VALUES (NULL,
                #{loginName},
                #{loginPassword},
                #{userRole.userRoleID},
                1);
    </insert>
    <update id="updateLoginUser" parameterType="LoginUser">
        UPDATE `loginuser`
        SET
          `loginName` = #{loginName},
          `loginPassword` = #{loginPassword},
          `userRoleID` = #{userRole.userRoleID}
        WHERE `loginUserID` = #{loginUserID}
    </update>
    <delete id="deleteLoginUser" parameterType="Integer">
               UPDATE `loginuser`
                SET
                  `visible` = 0
                WHERE `loginUserID` = #{loginUserID}
    </delete>
    <delete id="deleteLoginUserByIds">
            UPDATE `loginuser`
                SET
                  `visible` = 0
                WHERE `loginUserID` IN
                <foreach collection="list" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
    </delete>
</mapper>