<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.huanxun.dao.StudentCourseMapper">
    <resultMap id="studentMap" type="Student">
        <id property="stuID" column="stuID"/>
        <association property="studentGrade" resultMap="studentGradeMap"/>
        <association property="agency" resultMap="agencyMap"/>
    </resultMap>
    <resultMap id="studentGradeMap" type="StudentGrade">
        <id property="stuGradeID" column="stuGradeID"/>
    </resultMap>
    <resultMap id="agencyMap" type="Agency">
        <id property="agencyID" column="agencyID"/>
    </resultMap>
    <resultMap id="teacherMap" type="Teacher">
        <id property="teacherID" column="teacherID"/>
    </resultMap>
    <resultMap id="lessonTypeMap" type="LessonType">
        <id property="lessonTypeID" column="lessonTypeID"/>
    </resultMap>
    <resultMap id="courseTypeMap" type="CourseType">
        <id property="courseTypeID" column="courseTypeID"/>
    </resultMap>
    <resultMap id="studentCourseMap" type="StudentCourse">
        <id property="stuCourseID" column="stuCourseID"/>
        <association property="student" resultMap="studentMap"/>
        <association property="teacher" resultMap="teacherMap"/>
        <association property="lessonType" resultMap="lessonTypeMap"/>
        <association property="courseType" resultMap="courseTypeMap"/>
    </resultMap>

    <!--查询所有学生购买的课程-->

    <select id="findAllStudentCourse_liyujia" parameterType="StudentCourse" resultMap="studentCourseMap">
        SELECT *
        from
          studentcourse stco, student st,
          <if test="teacherID!=null">
              teacher te,
          </if>
          lessontype lt, coursetype ct,
          <if test="agencyID!=null">
            agency ag,
          </if>
          <if test="isArranged!=-1">
              and isArranged=#{isArranged}
          </if>
          <if test="teacherID!=null">
              and stco.teacherID = te.teacherID
          </if>
          <if test="agencyID!=null">
              and st.agencyID = ag.agencyID
          </if>
        order by stuCourseID desc
    </select>

    <select id="findAllStudentCourse" resultMap="studentCourseMap">
        SELECT *
        from
          studentcourse stco, student st,
          teacher te,
          lessontype lt, coursetype ct,

          studentgrade sg
        where
          stco.stuID = st.stuID
          and stco.courseTypeID = ct.courseTypeID
          and stco.lessonTypeID = lt.lessonTypeID
          and st.stuGradeID = sg.stuGradeID

          <if test="stuName!=null and stuName!=''">
              and st.stuName like concat('%',#{stuName},'%')
          </if>
          <if test="isArranged==0">
              and stco.isArranged = #{isArranged}
          </if>
          <if test="courseTypeID!=null">
              and stco.courseTypeID = #{courseTypeID}
          </if>
          <if test="lessonTypeID!=null">
              and stco.lessonTypeID = #{lessonTypeID}
          </if>
          and stco.teacherID = te.teacherID
        <choose>
            <when test="sort!=null and sort!=''">
                order by stco.${sort} ${order}
            </when>
            <otherwise>
                order by stco.stuCourseID desc
            </otherwise>
        </choose>
    </select>

    <!--根据stuCourseID查询学生课程-->
    <select id="findStudentCourseByID" parameterType="integer" resultMap="studentCourseMap">
        SELECT *
        from
        studentcourse stco, student st,teacher te,
        lessontype lt, coursetype ct,
        studentgrade sg
        where
        stco.stuID = st.stuID
        and stco.courseTypeID = ct.courseTypeID
        and stco.lessonTypeID = lt.lessonTypeID
        and st.stuGradeID = sg.stuGradeID
        and stco.stuCourseID = #{stuCourseID}
        and stco.teacherID = te.teacherID

    </select>
    
    <!--新增学生课程-->
    <insert id="addStudentCourse" parameterType="StudentCourse">
        insert into studentcourse (stuID, lessonTypeID, courseTypeID,teacherID, lessonTotalNumber, lessonRestNumber, discount, isArranged)
        VALUES (#{student.stuID},#{lessonType.lessonTypeID},#{courseType.courseTypeID},#{teacherID},#{lessonTotalNumber},#{lessonRestNumber},#{discount},0)
    </insert>

    <!--修改学生课程-->
    <update id="updateStudentCourse" parameterType="StudentCourse">
        update studentcourse
        SET
          teacherID=#{teacher.teacherID},
          lessonTypeID=#{lessonType.lessonTypeID},
          courseTypeID=#{courseType.courseTypeID},
          lessonTotalNumber=#{lessonTotalNumber},
          lessonRestNumber=#{lessonRestNumber},
          discount=#{discount},
          isArranged=#{isArranged}
        where
          stuCourseID=#{stuCourseID}
    </update>

    <!--根据课程LessonTypeID查询课程数量-->
    <select id="countStuCourseByLessonTypeID" parameterType="integer" resultType="integer">
        SELECT count(1) FROM studentcourse
        where lessonTypeID = #{lessonTypeID}
    </select>

    <!--根据课程CourseTypeID查询课程数量-->
    <select id="countStuCourseByCourseTypeID" parameterType="integer" resultType="integer">
        SELECT count(1) FROM studentcourse
        where courseTypeID = #{courseTypeID}
    </select>

    <select id="findCourseTypeByStuCourseID" parameterType="integer" resultType="CourseType">
        SELECT ct.*
        from coursetype ct, studentcourse sc
        where sc.courseTypeID = ct.courseTypeID
        and sc.stuCourseID = #{stuCourseID}
    </select>
</mapper>